<legend class="uk-legend">
  <%= t('.title', default: 'Feedbacks list')%>
  <%= render 'layouts/admin/form/search' %>
  <div class="uk-align-right">
    <%= link_to t(:new), new_portfolio_feedback_path, class: 'uk-button uk-button-primary' %>
  </div>
</legend>

<table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
  <thead>
  <tr>
    <th class="uk-width-small"><%= t('simple_form.labels.defaults.client', default: 'Client')%></th>
    <th class="uk-table-expand" colspan="2"><%= t('simple_form.labels.defaults.title', default: 'Project')%></th>
    <th><%= t('simple_form.labels.defaults.content', default: 'Content')%></th>
    <th><%= t('simple_form.labels.defaults.status', default: 'Status')%></th>
    <th><%= t('simple_form.labels.defaults.published_at', default: 'Published at')%></th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  <% @portfolio_feedbacks.each do |portfolio_feedback| %>
  <tr>
    <td><%= link_to portfolio_feedback.client.site, api_v1_portfolio_feedback_url(portfolio_feedback, api_key: portfolio_feedback.api_key) %></td>
    <td>
      <%= image_tag(portfolio_feedback.project.image_url, style: 'height: 40px') if portfolio_feedback.project.image %>
    </td>
    <td>
      <%= link_to portfolio_feedback.project.to_label, portfolio_feedback.project %>
      <br>
      <%= portfolio_feedback.project.customer %>
    </td>
    <td>
      <strong><%= portfolio_feedback.title %></strong>
      <%= portfolio_feedback.content %>
    </td>
    <td class="uk-text-center"><span title="<%= portfolio_feedback.status_text %>" class="uk-icon-circle-<%= portfolio_feedback.status %>"></span></td>
    <td><%= time_ago_in_words(portfolio_feedback.published_at) %> <%=t(:ago, default: 'ago')%></td>
    <td class="uk-table-shrink"><%= link_to t(:show), portfolio_feedback %></td>
    <td class="uk-table-shrink"><%= link_to t(:edit), edit_portfolio_feedback_path(portfolio_feedback) %></td>
    <td class="uk-table-shrink"><%= link_to t(:destroy), portfolio_feedback, method: :delete, data: { confirm: t(:confirm) } %></td>
  </tr>
  <% end %>
  <% if @portfolio_feedbacks.empty? %>
  <tr>
    <td colspan="9"><h3 class="uk-text-muted uk-text-center"><%= t('.no_found', default: :no_found)%></h3></td>
  </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @portfolio_feedbacks, views_prefix: 'layouts/admin' %>