<legend class="uk-legend">
  <%= t('.title', default: 'Pages list')%>
  <%= render 'layouts/admin/form/search' %>
  <div class="uk-align-right">
    <%= link_to t(:new), new_site_page_path, class: 'uk-button uk-button-primary' %>
  </div>
</legend>

<table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
  <thead>
  <tr>
    <th class="uk-width-small"><%= t('simple_form.labels.defaults.client', default: 'Client')%></th>
    <th class="uk-table-expand"><%= t('simple_form.labels.defaults.title', default: 'Title')%></th>
    <th><%= t('simple_form.labels.defaults.status', default: 'Status')%></th>
    <th><%= t('simple_form.labels.defaults.slug', default: 'URL')%></th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  <% @site_pages.each do |site_page| %>
  <tr>
    <td><%= link_to site_page.client.site, api_v1_site_page_url(site_page.id, api_key: site_page.api_key) %></td>
    <td><%= site_page.title %></td>
    <td class="uk-text-center"><span title="<%= site_page.status_text %>" class="uk-icon-circle-<%= site_page.status %>"></span></td>
    <td><%= link_to site_page.slug, site_page %></td>
    <td class="uk-table-shrink"><%= link_to t(:show), site_page %></td>
    <td class="uk-table-shrink"><%= link_to t(:edit), edit_site_page_path(site_page) %></td>
    <td class="uk-table-shrink"><%= link_to t(:destroy), site_page, method: :delete, data: { confirm: t(:confirm) } %></td>
  </tr>
  <% end %>
  <% if @site_pages.empty? %>
  <tr>
    <td colspan="7"><h3 class="uk-text-muted uk-text-center"><%= t('.no_found', default: :no_found)%></h3></td>
  </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @site_pages, views_prefix: 'layouts/admin' %>