<%= simple_form_for @shop_category, wrapper: :form do |f| %>
  <legend class="uk-legend">
    <%= t('.'+action_name+'.title', default: action_name.titleize + ' Category')%>
    <div class="uk-align-right">
      <%= yield :links %>
      <%= f.button :submit, class: 'uk-button uk-button-primary' %>
    </div>
  </legend>
  <%= f.error_notification %>

    <%= f.error_notification %>

    <%= f.input :api_key, collection: @api_keys, value_method: :api_key, prompt: :translate, input_html: {class: 'uk-select'}  %>

    <%= f.input :title %>
    <%= f.input :slug if @shop_category.slug.present? %>
    <%= f.input :content %>

    <% if @shop_categories.present? %>
        <%= f.association :parent, collection: @shop_categories, prompt: :translate, input_html: {class: 'uk-select'}  %>
    <% end %>

    <%= f.input :image, as: :image_preview %>
<% end %>

