<legend class="uk-legend">
  <%= t('.title', default: 'Files list')%>
  <%=t(:is_used, max: number_to_human_size(ENV.fetch('AWS_MAX_BUCKET_SIZE').to_i), size: number_to_human_size(@total_size))%>
  <%= render 'layouts/admin/form/search' %>
  <div class="uk-align-right">
    <%= direct_upload_form_for @uploader do |f| %>
        <div class="upload" uk-form-custom>
          <%= f.file_field :name %>
          <%= f.button t(:upload), class: 'uk-button uk-button-primary' %>
        </div>
    <% end %>
  </div>
</legend>

<table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
  <thead>
  <tr>
    <th class="uk-width-small"><%= t('simple_form.labels.defaults.client', default: 'Client')%></th>
    <th class="uk-table-expand" colspan="2"><%= t('simple_form.labels.defaults.name', default: 'Name')%></th>
    <th class="uk-width-auto"><%= t('simple_form.labels.defaults.size', default: 'Size')%></th>
    <th class="uk-table-auto"><%= t('simple_form.labels.defaults.modified', default: 'Modified')%></th>
    <th colspan="2"></th>
  </tr>
  </thead>
  <tbody>
  <% @site_files.each do |site_file| %>
    <tr>
      <td><%=site_file.client.site%></td>
      <td class="uk-preserve-width"><i class="uk-icon uk-icon-image" style="background-image: url(<%=site_file.name%>);"></i></td>
      <td><%=site_file.name_key.split('/').last%></td>
      <td><%= number_to_human_size(site_file.size) %></td>
      <td><%= time_ago_in_words(site_file.modified) if site_file.modified %> <%=t(:ago, default: 'ago')%></td>
      <td class="uk-table-shrink"><%= link_to t(:show), site_file %></td>
      <td class="uk-table-shrink"><%= link_to t(:destroy), site_file, method: :delete, data: { confirm: t(:confirm) } %></td>
    </tr>
  <% end %>
  <% if @site_files.empty? %>
  <tr>
    <td colspan="5"><h3 class="uk-text-muted uk-text-center"><%= t('.no_found', default: :no_found)%></h3></td>
  </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @site_files, views_prefix: 'layouts/admin' %>