<legend class="uk-legend">
  <%= t('.title', default: 'Articles list')%>
  <%= render 'layouts/admin/form/search' %>
  <div class="uk-align-right">
    <%= link_to t(:new), new_portfolio_article_path, class: 'uk-button uk-button-primary' %>
  </div>
</legend>

<table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
  <thead>
  <tr>
    <th class="uk-width-small"><%= t('simple_form.labels.defaults.client', default: 'Client')%></th>
    <th class="uk-table-expand"><%= t('simple_form.labels.defaults.title', default: 'Title')%></th>
    <th><%= t('simple_form.labels.defaults.slug', default: 'URL')%></th>
    <th class="uk-table-shrink"><%= t('simple_form.labels.defaults.status', default: 'Status')%></th>
    <th><%= t('simple_form.labels.defaults.tags', default: 'Tags')%></th>
    <th><%= t('simple_form.labels.defaults.published_at', default: 'Published at')%></th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  <% @portfolio_articles.each do |portfolio_article| %>
  <tr>
    <td><%= link_to portfolio_article.client.site, api_v1_portfolio_article_url(portfolio_article.id, api_key: portfolio_article.api_key) %></td>
    <td><%= portfolio_article.title %></td>
    <td><%= link_to portfolio_article.slug, portfolio_article %></td>
    <td class="uk-text-center"><span title="<%= portfolio_article.status_text %>" class="uk-icon-circle-<%= portfolio_article.status %>"></span></td>
    <td><%= portfolio_article.tags %></td>
    <td><%= time_ago_in_words(portfolio_article.published_at) %> <%=t(:ago, default: 'ago')%></td>
    <td class="uk-table-shrink"><%= link_to t(:edit), edit_portfolio_article_path(portfolio_article) %></td>
    <td class="uk-table-shrink"><%= link_to t(:destroy), portfolio_article, method: :delete, data: { confirm: t(:confirm) } %></td>
  </tr>
  <% end %>
  <% if @portfolio_articles.empty? %>
  <tr>
    <td colspan="8"><h3 class="uk-text-muted uk-text-center"><%= t('.no_found', default: :no_found)%></h3></td>
  </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @portfolio_articles, views_prefix: 'layouts/admin' %>