<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %> | Pagekit</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/css/uikit.min.css' %>
    <%= stylesheet_link_tag    'admin/application', media: 'all' %>

    <%= javascript_include_tag 'admin/application' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/js/uikit.min.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/js/uikit-icons.min.js' %>

  </head>

  <body>
  <%= render 'layouts/admin/navbar' %>
  <main class="uk-container uk-margin-bottom">
    <%= render 'layouts/admin/notice' %>
    <%= yield %>
  </main>
  </body>
</html>
