    <article class="uk-article">
      <%  if @blog_post.image.present? %>
          <div class="uk-cover-container uk-height-medium">
            <div uk-cover><%= image_tag(@blog_post.image_url) %></div>
          </div>
      <% end %>

      <h1 class="uk-article-title"><%= @blog_post.title %></h1>

      <p class="uk-article-meta">
        <%=t(:written_by)%> <%= @blog_post.user.to_label %> <%=t(:on)%> <%=date(@blog_post.published_at)%>.
        <%= t(:posted_in) %> <%=@blog_post.client.site%>
      </p>

      <p><%= @blog_post.content %></p>

      <p class="uk-article-meta">
        <%= @blog_post.tags %>
      </p>
    </article>

    <h2 class="uk-h4"><%= t(:comments) %> (5)</h2>
    <ul class="uk-comment-list uk-margin-bottom" id="comments">
    <% @post_comments.each do |post_comment| %>
      <li>
        <%= render 'application/blog/comments/comment', comment: post_comment %>
      </li>
    <% end %>
    </ul>
