<%= simple_form_for @site_mail, html: {class: 'uk-form-stacked'}, wrapper: :form do |f| %>
  <legend class="uk-legend">
    <%= t('.'+action_name+'.title', default: action_name.titleize + ' Mail')%>
    <div class="uk-align-right">
      <%= yield :links %>
      <%= f.button :submit, class: 'uk-button uk-button-primary' %>
    </div>
  </legend>
  <%= f.error_notification %>

  <div class="uk-width-1-1" uk-grid>
    <div class="uk-width-1-5">
      <%= f.input :from_name %>
    </div>
    <div class="uk-width-1-5">
      <%= f.input :from_email %>
    </div>
    <div class="uk-width-expand">
      <%= f.input :api_key, collection: @api_keys, value_method: :api_key, prompt: :translate, input_html: {class: 'uk-select'}  %>
    </div>
    <div class="uk-width-1-5">
      <%= f.input :status, collection: @site_mail.statuses, prompt: :translate, input_html: {class: 'uk-select'} %>
    </div>
  </div>

  <%= f.input :subject %>
  <%= f.input :message %>
<% end %>

