<div class="uk-card uk-card-default">
  <div class="uk-card-body">
    <dl class="uk-description-list uk-description-list-divider">
      <dt><%= t('simple_form.labels.defaults.client', default: 'Client')%></dt>
      <dd><%= @site_link.client.to_label %></dd>
      <dt><%= t('simple_form.labels.defaults.title', default: 'Title')%></dt>
      <dd><%= @site_link.title %></dd>
      <dt><%= t('simple_form.labels.defaults.url', default: 'Url')%></dt>
      <dd><%= @site_link.url %></dd>
      <dt><%= t('simple_form.labels.defaults.section', default: 'Section')%></dt>
      <dd><%= @site_link.section %></dd>
      <dt><%= t('simple_form.labels.defaults.status', default: 'Status')%></dt>
      <dd><%= @site_link.status_text %></dd>
      <dt><%= t('simple_form.labels.defaults.is_visible_main', default: 'Is visible main')%></dt>
      <dd><%= @site_link.is_visible_main %></dd>
      <dt><%= t('simple_form.labels.defaults.is_visible_offcanvas', default: 'IS visible offcanvas')%></dt>
      <dd><%= @site_link.is_visible_offcanvas %></dd>
    </dl>
  </div>
  <div class="uk-card-footer">
    <%= link_to t(:edit), edit_site_link_path(@site_link), class: 'uk-button uk-button-text' %> |
    <%= link_to t(:back), site_links_path, class: 'uk-button uk-button-text' %>
  </div>
</div>
