<%= render 'layouts/admin/form/uploader' %>

<%= simple_form_for @portfolio_image, wrapper: :form do |f| %>
  <legend class="uk-legend">
    <%= t('.title', default: action_name.titleize + ' Image')%>
    <div class="uk-align-right">
      <%= yield :links %>
      <%= f.button :submit, class: 'uk-button uk-button-primary' %>
    </div>
  </legend>
  <%= f.error_notification %>

  <%= f.input :api_key, collection: @api_keys, value_method: :api_key, prompt: :translate, input_html: {class: 'uk-select'}  %>

  <%= f.association :project, prompt: :translate, input_html: {class: 'uk-select'}  %>

  <%= f.input :image, as: :image_preview %>
  <%= f.input :title %>
  <%= f.input :content %>
<% end %>

