<legend class="uk-legend">
  <%= t('.title', default: 'Details list')%>
  <div class="uk-align-right">
    <%= link_to t(:new), new_shop_detail_path, class: 'uk-button uk-button-primary' %>
  </div>
</legend>

<table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
  <thead>
  <tr>
    <th><%= t('simple_form.labels.defaults.client', default: 'Client')%></th>
    <th><%= t('simple_form.labels.defaults.order', default: 'Shop order')%></th>
    <th><%= t('simple_form.labels.defaults.product', default: 'Shop product')%></th>
    <th><%= t('simple_form.labels.defaults.quantity', default: 'Quantity')%></th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  <% @shop_details.each do |shop_detail| %>
  <tr>
    <td><%= shop_detail.client.site %></td>
    <td><%= shop_detail.order.to_label %></td>
    <td><%= shop_detail.product.to_label %></td>
    <td><%= shop_detail.quantity %></td>
    <td class="uk-table-shrink"><%= link_to t(:edit), edit_shop_detail_path(shop_detail) %></td>
    <td class="uk-table-shrink"><%= link_to t(:destroy), shop_detail, method: :delete, data: { confirm: t(:confirm) } %></td>
  </tr>
  <% end %>
  <% if @shop_details.empty? %>
  <tr>
    <td colspan="7"><h3 class="uk-text-muted uk-text-center"><%= t('.no_found', default: :no_found)%></h3></td>
  </tr>
  <% end %>
  </tbody>
</table>