<div class="uk-card uk-card-default">
  <div class="uk-card-body">
    <dl class="uk-description-list uk-description-list-divider">
      <dt><%= t('simple_form.labels.defaults.client', default: 'Client')%></dt>
      <dd><%= @site_widget.client.to_label %></dd>
      <dt><%= t('simple_form.labels.defaults.title', default: 'Title')%></dt>
      <dd><%= @site_widget.title %></dd>
      <dt><%= t('simple_form.labels.defaults.subtitle', default: 'Subtitle')%></dt>
      <dd><%= @site_widget.subtitle %></dd>
      <dt><%= t('simple_form.labels.defaults.content', default: 'Content')%></dt>
      <dd><%= @site_widget.content %></dd>
      <dt><%= t('simple_form.labels.defaults.section', default: 'Section')%></dt>
      <dd><%= @site_widget.section %></dd>
      <dt><%= t('simple_form.labels.defaults.status', default: 'Status')%></dt>
      <dd><%= @site_widget.status %></dd>
      <dt><%= t('simple_form.labels.defaults.position', default: 'Position')%></dt>
      <dd><%= @site_widget.position %></dd>
    </dl>
  </div>
  <div class="uk-card-footer">
    <%= link_to t(:edit), edit_site_widget_path(@site_widget), class: 'uk-button uk-button-text' %> |
    <%= link_to t(:back), site_widgets_path, class: 'uk-button uk-button-text' %>
  </div>
</div>
