<legend class="uk-legend">
  <%= t('.title', default: 'Roles list')%>
  <%= render 'layouts/admin/form/search' %>
  <div class="uk-align-right">
    <%= link_to t(:new), new_users_role_path, class: 'uk-button uk-button-primary' %>
  </div>
</legend>

<table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
  <thead>
  <tr>
    <th><%= t('simple_form.labels.users_role.name', default: 'Name')%></th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  <% @users_roles.each do |users_role| %>
  <tr>
    <td><%= users_role.name %></td>
    <td class="uk-table-shrink"><%= link_to t(:show), users_role %></td>
    <td class="uk-table-shrink"><%= link_to t(:edit), edit_users_role_path(users_role) %></td>
    <td class="uk-table-shrink"><%= link_to t(:destroy), users_role, method: :delete, data: { confirm: t(:confirm) } %></td>
  </tr>
  <% end %>
  <% if @users_roles.empty? %>
  <tr>
    <td colspan="4"><h3 class="uk-text-muted uk-text-center"><%= t('.no_found', default: :no_found)%></h3></td>
  </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @users_roles, views_prefix: 'layouts/admin' %>