<div class="uk-card uk-card-default">
  <div class="uk-card-body">
    <dl class="uk-description-list uk-description-list-divider">
      <dt><%= t('simple_form.labels.defaults.client', default: 'Client')%></dt>
      <dd><%= @site_setting.client.to_label %></dd>
      <dt><%= t('simple_form.labels.defaults.key', default: 'Key')%></dt>
      <dd><%= @site_setting.key %></dd>
      <dt><%= t('simple_form.labels.defaults.value', default: 'Value')%></dt>
      <dd><%= @site_setting.value %></dd>
      <dt><%= t('simple_form.labels.defaults.section', default: 'Section')%></dt>
      <dd><%= @site_setting.section %></dd>
    </dl>
  </div>
  <div class="uk-card-footer">
    <%= link_to t(:edit), edit_site_setting_path(@site_setting), class: 'uk-button uk-button-text' %> |
    <%= link_to t(:back), site_settings_path, class: 'uk-button uk-button-text' %>
  </div>
</div>
